body {
  background-color: #f2f2f2;
}
.nav {
  border-radius: 0px !important;
  padding: 10px 0px 10px !important;
  background-color: #396afc !important;
}
.mb-7 {
  margin-bottom: 7px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mymodal {
  height: 200px !important;
  top: 200px !important;
}
.friends_list {
  padding: 0px;
  margin: 0px;
}
.friends_list li {
  list-style: none;
  list-style: square;
  padding: 0px;
  margin: 0px;
}
